<footer>
    <ul class="nav justify-content-center bg-dark">
        <li class="nav-item">
          <a class="nav-link active text-white" href="https://www.aasp.org.br/">&copy; AASP</a>
        </li>
      </ul>
  </footer>
  