<app-nav-menu></app-nav-menu>
<div class="container h-100">
  <h1 id="tableLabel">Histórico</h1>

  <p>Segue abaixo histórico de aquisição de vacinas.</p>

  <p *ngIf="!forecasts"><em>Carregando...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <thead>
      <tr>
        <th>Data</th>
        <th>Dose</th>
        <th>Valor</th>
        <th>Status Pg.</th>
        <th>Atendimento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of data">
        <td>{{ forecast.Data }}</td>
        <td>{{ forecast.Dose }}</td>
        <td>{{ forecast.valor }}</td>
        <td>{{ forecast.Status }}</td>
        <td>{{ forecast.Atendimento }}</td>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
