.solicitacao {
  margin-top: 20px;
}
.nome-associado {
  margin-top: 0px;
}
.solicitacao__pagamento {
  background-color: gainsboro;
  border-radius: 5px;
  border: solid 1px gray;
  text-align: right;
  padding: 10px
}
.solicitacao__pagamento ul {
  text-align: left;
}
.solicitacao__pagamento ul li {
  display: inline-block;
  padding-left: 10px;
}

.btn-pagar {
  display: flex;
}
.btn-pagar-2 {
  align-items: flex-end;
}
code {
  font-size: larger;
  color: red;
}

@media(max-width: 768px){
  .nome-associado {
    margin-top: 5px;
  }
}




