<app-nav-menu></app-nav-menu>
<div class="solicitacao container">
  <!-- <img class="img-fluid solicitacao__img" src="../../../assets//img//logo.jpg"> -->
  <img src="../../../assets//img//logo.jpg" style="width: 100%; height: 230px;" >

  <h1 class="text-center mt-2">Formulário de Vacinação AASP</h1>
  <article>
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
       It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
       and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </article>
  <main class="row justify-content-md-center">
      <div class="input-group col-sm-12 col-md-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">NRO AASP</span>
        </div>
        <input type="text" class="form-control" value="157799" disabled>
      </div>
      <div class="input-group col-sm-12 col-md-6 nome-associado">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Associado</span>
        </div>
        <input type="text" class="form-control" value="Alessandro Roberto da Cunha Fernandes" disabled>
      </div>
  </main>

  <h3 class="mt-4 h3">Doses</h3>
  <hr>
  <form>
    <div class="row justify-content-md-center" *ngIf="associado.ativo">
      <div class="d-flex col-sm-12 col-md-2 mt-2  font-weight-bold align-items-center justify-content-center">
        Associado
      </div>
      <div class="col-sm-12 col-md-4 mt-2">
        <input type="text" class="form-control" [value]="associado.nome" disabled>
      </div>
      <div class="d-flex col-lg-1 col-md-1 justify-content-center font-weight-bold align-items-center">
        Nasc.
      </div>
      <div class="col-md-3 col-lg-3 mt-2 text-center">
        <input type="date" class="form-control" [value]="associado.nasc" disabled>
      </div>
      <div class="col-sm-12 col-md-2 text-right mt-2">
        <button class="btn btn-danger col-sm-6 col-md-12 mb-2" (click)="DeletarAssociado()">Deletar</button>
      </div>
    </div>
    <div id="dependente" *ngFor="let dependente of pessoas; let i = index">
      <div class="row justify-content-md-center">
        <div class="d-flex col-sm-12 col-md-2 mt-2 justify-content-center font-weight-bold align-items-center">
          Dependente
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
          <input type="text" class="form-control" [value]="pessoas[i].nome" disabled>
        </div>
        <div class="d-flex col-lg-1 col-md-1 justify-content-center font-weight-bold align-items-center">
          Nasc.
        </div>
        <div class="col-md-3 col-lg-3 mt-2 text-center" >
          <input type="date" class="form-control" [value]="pessoas[i].nasc" disabled>
        </div>
        <div class="col-sm-12 col-md-2 text-right mt-2">
          <button class="btn btn-danger col-sm-6 col-md-12 mb-2">Deletar</button>
        </div>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="d-flex col-sm-12 col-md-2 mt-2 justify-content-center font-weight-bold align-items-center">
        Dependente
      </div>
      <div class="col-sm-12 col-md-4 mt-2">
        <input type="text" class="form-control" [(ngModel)]="dependente.nome" [ngModelOptions]="{standalone: true}" placeholder="Digite o nome do dependente">
      </div>
      <div class="d-flex col-lg-1 col-md-1 justify-content-center font-weight-bold align-items-center">
        Nasc.
      </div>
      <div class="col-md-3 col-lg-3 mt-2 text-center" >
        <input type="date" class="form-control" [(ngModel)]="dependente.nasc"  [ngModelOptions]="{standalone: true}" [disabled]="!dependente.nome">
      </div>
      <div class="col-sm-12 col-md-2 text-right mt-2">
        <button class="btn btn-success col-sm-6 col-md-12 mb-2" (click)="AdicionarDependente()">Adicionar</button>
      </div>
    </div>

  </form>

  <main>
    <h3 class="mt-4 h3">Pagamento</h3>
    <hr>
    <div class="row justify-content-md-center">
      <div class="col-md-8 col-sm-12 solicitacao__pagamento ">
        <ul class="font-italic">
            <li>Quantidade de doses</li>
            <li>...........................</li>
            <li>{{ pessoas.length }}</li>
        </ul>
        <ul class="font-italic">
          <li>Quantidade de dependentes</li>
          <li>............</li>
          <li>{{ pessoas.length }}</li>
      </ul>
      <hr>
        <p class="font-weight-bold">Total a pagar: <code>{{ valorTotal | currency: 'R$ '}}</code></p>
      </div>
    </div>

  </main>

  <div class="row justify-content-center mb-4 mt-3">
    <button class="btn btn-primary col-3" (click)="EnviarFormualario()">Pagar</button>
  </div>

</div>
