<div class="mainfull">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header text-center">
                <img class="img-fluid img-logo" src="../../../assets/img/logo.svg">
                <h3>Área Administrativa</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center"><fa-icon [icon]="faUser"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Usuário">
                       
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center"><fa-icon [icon]="faKey"></fa-icon></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

