<div class="container">
    <div class="jumbotron text-center">
        <h1>Área Administrativa</h1>
    </div>
    <section>
        <div class="row justify-content-center">
            <form >
                <mat-form-field appearance="legacy">
                    <mat-label>Buscar</mat-label>
                    <input matInput placeholder="Buscar" autofocus>
                </mat-form-field>

                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button  class="botao-radio" value="1" checked>Nome</mat-radio-button>
                  <mat-radio-button value="2">CodAASP</mat-radio-button>
                </mat-radio-group>
              </form>
        </div>
    </section>
    <main>
      <h3 class="text-center mt-4 mb-4">
        Sem resultado...
      </h3>
    </main>
    <hr>
    <main class="text-center">
      <h3>Importar lista completa</h3>
      <p class="ml-2">
        <button class="btn btn-primary">
          <fa-icon [icon]="faFile"></fa-icon>
          Download
        </button>
      </p>
    </main>
    <hr>
    <div class="geral">
      <div class="geral__relatorio">
        <h3>Geral</h3>
        <ul>
          <ul>
            <li>Total de doses pagas</li>
            <li>100</li>
          </ul>
          <ul>
            <li>Total de doses Não pagas</li>
            <li>20</li>
          </ul>
          <ul>
            <li>Total de doses em aberto</li>
            <li>0</li>
          </ul>
        </ul>
      </div>
    </div>
</div>
