mat-form-field {
  width: 500px;
  margin-right: 20px;
}
.botao-radio {
  margin-right: 10px;
}
mat-radio-group {
  margin-right: 0;
  margin-left: 0;
}

.geral {
  font-weight: bold;
  text-align: center;
  border: 1px solid gray;
  margin: 20px 0;
  border-radius: 20px;
  background-color: gainsboro;
  text-shadow: black .5px .5px .5px;
  box-shadow: black 2px 2px 2px;
  text-transform: uppercase;
  font-size: 17px;
}
.geral h3 {
  text-transform: uppercase;
}
.geral__relatorio {
  padding: 20px;
}
ul ul li {
  display: inline;
}
ul ul li:nth-child(1) {
  margin-right: 30px;;
}

ul ul:nth-child(1) {
  color: green;
}

ul ul:nth-child(2) {
  color: red;
}

ul ul:nth-child(3) {
  color: orange;
}

@media (max-width: 768px) {
  mat-form-field {
    width: 300px;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  mat-form-field {
    width: 200px;
    margin-right: 20px;
  }
}

@media (max-width: 400px) {
  mat-form-field {
    margin-right: 15px;
    margin-left: 15px;
    width: 300px;
    margin-right: 20px;
  }

  mat-radio-group {
    margin-left: 15px;
  }
}
