.home__texto {
    text-align: justify;
}
.banner {
    width: 100%;
    height: 350px;
    background-color: brown;
    margin-bottom: 15px;
}
.home__header {
    margin-bottom: 20px;
}
.home__main {
    background-color: gainsboro;
    padding: 20px 0;
}