<div class="container mt-4 mb-4 h-100">
    
  <header class="text-center">
    <h1>AASP Campanha de Vacinação</h1>
    <h5>De xx/xx/xxxx à xx/xx/xxxx</h5>
  </header>
    
  <article>
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
       It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
       and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </article>

  <article>
    <p class="text-justify">
      <b>A vacina da gripe dá gripe?</b><br>
        Não. É importante ressaltar que a vacina da gripe é feita de vírus inativados, ou seja, ela não transmite a doença. Ocorre que como a vacina é aplicada numa época em que há muitos vírus respiratórios circulando, as pessoas ficam mais doentes e atribuem os sintomas à vacina, mas certamente a doença que se manifestou foi provocada por outros vírus que não os contidos na vacina.<br>
      <br>
      <b>Quais os principais efeitos colaterais da vacina?</b><br>
      As chances de efeitos adversos a essa vacina são muito pequenas. As reações são bastante individuais, algumas pessoas podem apresentar dor e vermelhidão no local da aplicação, febre e mal estar.<br>
      <br>
      <b>Qual a importância da vacina da gripe?</b><br>
      A vacina da gripe é essencial para todas as pessoas acima de seis meses que não possuam contraindicação em recebê-la anualmente. Porém, para o público-alvo, é ainda mais importante, pois para essas pessoas as chances de complicações como consequência da infecção pelo vírus da gripe são muito mais frequentes.<br>
    </p>
  </article>
    <div class="row justify-content-md-center">
      <button class="btn btn-danger col-3" (click)="login()">Solicitar  </button>
    </div>
</div>